!!!
%html
  %head
    %title= 'Rosalind'
    = csrf_meta_tags
    = stylesheet_link_tag 'application', media: 'all'
    = javascript_include_tag 'application'
    %link{ type: 'text/css', rel: 'stylesheet', href: '//fast.fonts.net/cssapi/a9c44fdd-9d28-4e84-9c95-c1d2c4f0220a.css' }

    - if Rails.env == 'development'
      / hot reloading server for webpack bundle
      = javascript_include_tag 'http://localhost:3808/webpack-dev-server.js'
  %body
    %header
      %a#home{ href: '/' }
        #home__logo
          = render file: 'svgs/logo.svg'
        #home__title
          Rosalind
    %main
      = yield
